.Counter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Controls {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    outline: 1px solid #FFFFFF;
  }

  .Controls button {
    width: 30px;
    display: inline-block;
    background-color: #FFFFFF;
    border: none;
    outline: 1px solid #FFFFFF;
  }
  .Controls button:hover{
    background-color:#EBEBEB;
  }
  
  .Controls h4 {
    display: inline-block;
    margin: 0 10px;
    background-color: #FFFFFF;
    outline: 1px solid #FFFFFF;
  }
  
  .AddToCart {
    height: 30px;
    width: 200px;
    display: block;
    margin-top: 10px;
    background-color: rgb(234, 230, 153);
    border: 1px solid gray;
    color: #FFFFFF;
    transition: transform 0.2s ease-in-out;
  }
